header{
    margin: 10px;
    padding: none;
    box-sizing: border-box;
    font-size: 25px;
    color:black;
    font-weight: bold;
}
p{
    color: black;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black}
.About{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:black;
}
a:hover{
    color: aqua;
}
.Call{

    color: white;
}
table, th, td {
    border:1px solid black}

footer{
    color: white;
    background-color: black;
    padding: 10px;
}
.Foodimg {
    width: 800px;
    height: 450px;
    position: relative;
    top: 50px;
    left:50px
}
h2 {
    color: red;
}

